body {
	font-family: sans-serif;
	margin: 0;
}

.header, .footer {
	background-color: #1F2937;
	display: flex;
	align-items: center;
}

.header {
	color: #F9FAF8;
	justify-content: space-between;
	padding: 12px;
	flex: 0 0;
}

.footer {
	color: #E5E7EB;
	font-size: 16px;
	justify-content: center;
	padding: 24px;
	margin-top: auto;
	flex: 0 0;
}

.content {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	flex: 1;
}

ul {
	padding: 0;
	padding-right: 48px;
	margin: 0;
	list-style: none;
	display:flex;
	gap:12px;
}

a {
	color: #E5E7EB;
	font-size: 16px;
}

.logo {	
	font-size: 24px;
	display: flex;
	align-items:center;
	gap:12px;
}

.hero {
	background-color: #1F2937;
	color: #F9FAF8;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 0;
	padding: 50px 100px;
	gap: 50px;
}

.hero-left {
	max-width: 400px;
}

img.hero {
	border-radius: 15px;
	padding: 0;
}

.hero-right {
	display: flex;
	flex-direction: row-reverse;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 2;
	margin-bottom: 16px;
}

h2.info {
	display: flex;
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
	margin-top: 12px;
}

.pics {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.catpic {
	border-radius: 15px;
	border: 3px solid #3882F6;
}

.pic1, .pic2, .pic3, .pic4{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 12px;
}

.quote {
	display: flex;
	background-color: #E5E7EB;
	justify-content: center;
	align-items: center;
	flex: 1;
}

blockquote {
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	max-width: 600px;
}

figcaption {
	display: flex;
	justify-content: right;
	font-weight: 800;
}

.disclaimer {
	font-size: 8px;
}

.bottom{
	background-color: #3882F6;
	color: #F9FAF8;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0;
	margin: 50px 100px;
	padding-left: 50px;
	border-radius: 5px;
}

.bottom-right {
	display: flex;
	flex-direction: row-reverse;
}

h1 {
	font-size: 48px;
	font-weight: 800;
	margin: 0;
	max-width: 400px;
}

button {
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 10px;
	padding: 6px 18px;
	text-align: center;
	font-weight: 800;
	border-radius: 4px;
	border: none;
	margin-right: 50px;
}

button.bottom-right {
	border: 2px solid white;
}
